.sidebar {
    width: 60px;
    height: 90vh;
    border-radius: 15px;
    /*flex down*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.image {
    aspect-ratio: 1/1;
    width: 50px;
    margin: 10px 5px;
    background-size: contain;
}