.terminal {
    height: 30%;
    width: auto;
}

#command-input-area {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    resize: none;
    background-color: rgb(17, 17, 17);
    color: white;
    padding: 30px;
}

#command-input-area:focus {
    outline: none;
}