.terminal {
    height: 19.7%;
    border-radius: 15px;
}

#command-input-area {
    height: 100%;
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    resize: none;
    background-color: rgb(17, 17, 17);
    color: white;
}

#command-input-area:focus {
    outline: none;
}