/* .titlebar is a universal element and is included in universal.css */
.icon {
    height: 100%;
    width: 30px;
    background-size: contain;
}

.icon img {
    height: 30px;
    width: 30px;
}

.menubar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-app-region: no-drag;
}

.menubar span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    height: 90%;
    padding: 5px 13px 6px 13px;
}

.menubar span:hover {
    border-radius: 5px;
}

.active {
    width: 100px;
    height: 100px;
    background-color: blue;
}