* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titlebar {
    height: 33px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    -webkit-app-region: drag;
}

main {
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.leftside {
    flex: auto;
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.rightside {
    width: 60px;
    height: auto;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.statusbar {
    width: 100vw;
    height: 20px;
    z-index: 1;
}