* {
    color: white;
}

:root {
    --main-bgcolor: rgb(17, 17, 17);
    --text-color: white;
    --hover-color: rgb(48, 48, 48);
    --secondary-bgcolor: rgb(30, 30, 30);
    --active: rgb(49, 49, 49);
}

html {
    background-color: black;
}

.titlebar {
    background-color: var(--main-bgcolor);
}

.menubar {
    color: grey;
}

.menubar span:hover {
    background-color: var(--hover-color);
}

.coding-ground {
    background-color: var(--main-bgcolor);
}

.tabs-bar {
    background-color: var(--main-bgcolor);
}

.tabs-bar span {
    background-color: var(--secondary-bgcolor);
}

.tabs-bar span:hover {
    background-color: var(--hover-color);
}

.tabs-bar span:active {
    background-color: var(--active);
}

.statusbar {
    background-color: rgb(129, 129, 129);
}

#command-input-area {
    background-color: var(--main-bgcolor);
}

.sidebar {
    background-color: var(--main-bgcolor);
}