* {
    margin: none;
    border: none;
    padding: none;
    box-sizing: border-box;
}

html {
    background-color: black;
}

.coding-ground {
    height: 65vh;
    width: 80vw;
    margin: 10px;
    resize: both;
    overflow: auto;
    overflow-y: hidden;
}

#code-input-area {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    resize: none;
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 30px;
}

.terminal {
    height: 25vh;
    width: 80vw;
    margin: 10px;
    resize: both;
    overflow: auto;
    overflow-y: hidden;
}

#command-input-area {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    resize: none;
    background-color: rgb(49, 49, 49);
    color: white;
    padding: 30px;
}

.sidebar {
    width: 60px;
    height: 95vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(28, 28, 28);
    border-radius: 20px;
    z-index: 1;
}

.sidebar-expanded {
    width: 18vw;
    height: 95vh;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(148, 148, 148);
    border-radius: 20px;
    z-index: 0;
}